$colour-dark: #2e3440;
$colour-light: #d8dee9;
$colour-light2: #eceff4;
$colour-accent: #b48ead;
$colour-accent: #8fbcbb;

// Reset
html, body {
  padding:0;
  margin:0;
}

// Default Styles
html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $colour-dark;
  color: $colour-light;
  font-size: 16px;
  height: calc(100% - 32px);
}

nav {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 300;
    color: $colour-light;
    font-size: 1.5rem;
  }

  a:hover {
    color: $colour-accent;
  }
}

.main-landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: -32px;
  padding: 0;

  h1 {
    margin: 0;
    font-size: 6rem;
  }

  h3 {
    color: $colour-accent;
  }

}
